.header {
    height: 8rem;
    background-image: $gradient-color;
    padding: 1rem 17rem 1rem 14rem;

    @include breakpoint-down(large) {
        padding: 1rem 3rem;
    }

    // Position Fixed bottom header for mobile
    @include breakpoint-down(medium) {
        position: fixed;
        bottom: 0;
        left: 0;
        background: rgb(255, 255, 255);
        height: 6rem;
        padding: 1rem 2rem;
        width: 100%;
        z-index: 9999;
        box-shadow: 1px 0 10px rgba($color: #000000, $alpha: .2);

        // Toggle the btn to open the menu 
        &.open {
            .header__navbar ul {
                transform: translateY(0);
            }
        }
    }

    // Website Logo 
    &__logo {
        font-size: 2.1rem;
        color: $white-color;
        font-weight: bold;

        @include breakpoint-down(medium) {
            color: $black-color;
            font-size: 1.6rem;
        }

        & i {
            margin-right: .5rem;
        }
    }

    &__navbar {

        & ul {

            // Mobile responsive Menu
            @include breakpoint-down(medium) {
                width: 100vw;
                height: 35vh;
                background-color: $white-color;
                border-radius: 15px 15px 0 0;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 999;
                box-shadow: 1px 0 10px rgba($color: #000000, $alpha: .2);
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(100%);
                transition: transform 0.5s ease-in-out;
            }

            & li {

                &:not(:last-child) {
                    margin-right: 2.5rem;
                }

                & a {
                    color: $white-color;
                    position: relative;

                    @include breakpoint-down(medium) {
                        color: $black-color;
                    }

                }

                //link bottom line
                &::before {
                    transition: width 0.5s ease-in-out;
                    position: absolute;
                    width: 0;
                    height: 2px;
                    content: "";
                    bottom: -.3rem;
                    left: 0;
                    background: $white-color;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        // header right side btn & images
        & .header__icons {
            & a {
                margin-left: 1.5rem;
            }

            // Dark mode btn
            .header--dark--btn::before {
                font-family: "Font Awesome 5 Free";
                content: "\f186";
                color: #fff;
                font-size: 3rem;

                @include breakpoint-down(medium) {
                    color: $black-color;
                    font-size: 2.3rem;
                }
            }

            // hamburger btn    
            .header--toggle--btn {
                width: 3.5rem;
                z-index: 999999;
                position: relative;
                @include breakpoint-up(medium) {
                    display: none;
                }
                @include breakpoint-down(medium) {
                    width: 3rem;
                }
            }

            .profile-img {
                &>img {
                    width: 4.5rem;
                }

                @include breakpoint-down(medium) {
                    display: none;
                }
            }
        }

    }

}